body{
    font-family: "Poppins", serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
/* header section style tart */
.header-area{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.header-section{
    box-shadow: 3px 4px 5px;
    background-color: rgba(248, 248, 225, 0.562);
}
.logo img{
    width: 70%;
}
.half-width{
    width: 50%;
}
.navigation-area{
   margin-left: 20px;
}
.navigation-area a{
    font-weight: 400;
    color: rgba(69, 70, 71, 0.733);
    padding: 5px;
   text-decoration: none;
    font-size: 15px;
}
/* header section style complite */
/* top-section style start */
.top-section{
    align-items: center;
    display: flex;
}


.content-area p{
    padding: 0;
}
.content-area h1{
    font-family:Lato;
    margin: 0;
    padding: 0;
font-size: 3.2em;}
.orange-color{
    color: orange;
}
.main-image img{
    width: 80%;
}
.content-area .button i{
    padding-left: 7px;
}
.content-area .button a{
    color: white;
    text-decoration: none;
}
.content-area .button{
    border-radius: 6px;
    padding: 15px;
    width: 120px;
    height: 25px;
background-color: rgba(65, 121, 9, 0.712);}
/* top-section end */
/* woman jaket style start */
.jaket-item{
    gap: 45PX;
    
    justify-content: space-around;
display: flex;
}
.singal-jaket img{
    border-radius: 6PX;
    padding: 16PX;
    background-color: rgba(146, 145, 155, 0.322);
    align-items: center;
    width: 55%;
}
.singal-jaket{
    height: 500px;
    width: 400px;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 3px;
}
.singal-jaket .product-tittle{
    padding: 0;
    margin: 0;
}
.singal-jaket .product-description{
    font-size: 15PX;
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   justify-content: center;
    /* padding: 10PX; */
}
.singal-jaket .prising-area{
    display: flex;
    /* justify-content: space-between; */
}
.prising-area{
    gap: 82px;
    align-items: center;
}
.prising-area span{
    font-size: 2em;
    color: orange;
}
.prising-area .button a{
    text-decoration: none;
    color: white;
}
.prising-area .button{
    text-decoration: none;
    border-radius: 6px;
    padding: 15px;
    width: 120px;
    height: 25px;
background-color: rgba(65, 121, 9, 0.712)
}
/* woman jaket style end */
/* fotter area style start */
.flex-box{
    align-items: center;
    display: flex;
}
.house{
    border-radius: 4px;
    box-shadow: 2px 2x 2px;
    background-color: white;
    align-items: center;
}
.house h2{
    font-size: 23px;
    padding: 0;
    margin: 0;
}
.house{
    
    gap: 7px;
    display: flex;
}
.house p{
    padding: 0;
    margin: 0;
}
.house .discribe{
    display: flex;
    flex-direction: column;
}
.content{
    gap: 7px;
    padding: 10px;
}
.house img{
    height: 100px;
width: 85px;}
.image img{
    width: 90%;
}